$blue: #409eff;

$sidebar-width: 200px;
$nav-height: 50px;
$tags-height: 35px;
$header-height: $nav-height + $tags-height;
$content-space: 20px;
$scrollbar-width: 17px;
$content-height: calc(100vh - #{$header-height + $content-space * 2});
